---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "{{ site.theme }}";

.page {
    width: 95%;
    min-width: 95%;
    max-width: 95%
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}
